/* @media (max-width: 599px) {


} */


@media only screen and (min-width:0px) and (max-width:400px) {


}
@media only screen and (min-width:401px) and (max-width:767px) {



}

@media only screen and (min-width:0px) and (max-width:767px) {

.hero-left.col-lg-8, 
.hero-news-section 
.view-left-with-big-image {
    width: 100%;
}

.view-left-with-big-image .Promo-info {
    padding: 8px 10px;
}

.view-left-with-big-image .Promo-lead {
    font-size: 12px;
}

.view-article-list-on-home-page h3.article-title.article-field-title,
.view-nyheterna .article-field-title a,
.view-taxonomy-term .article-field-title .field--name-title,
h1.Promo-heading a,
.view-inspirationen-right .promo-heading--main a, 
.view-traningen-right .promo-heading--main a, 
.view-topshelf-promotions-right .promo-heading--main a, 
.view-right-with-small-image .promo-heading--main a {
    font-size: 20px;
    line-height: 25px;
}

.view-remaining-articles .article-row, 
.view-latest-article-sidebar .article-row, 
.view-taxonomy-term .article-row, 
.view-nyheterna .article-row, 
.view-article-list-on-home-page .article-row {
    padding-bottom: 0px; 
    padding-top: 0px;
}

.sidebar-second{
    padding-left: 0px !important;
}

.view-traningen .Promo-info{
    padding-left: 0px;
    padding-right: 0px;
}

.SiteTemplate-inner .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.siteTemplate-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

main.container-fluid {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.sidebar-second,
body.lopningen .tema-card {
    width: 100% !important;
}

.custom-row {
    flex-wrap: wrap !important;
}

.view-taxonomy-term .article-row,
.view-nyheterna .article-row,
.view-article-list-on-home-page .article-row {
    display: block;
}

.view-taxonomy-term .article-row .img-fluid,
.view-nyheterna .article-row .img-fluid,
.view-article-list-on-home-page .img-fluid {
    width: 100% !important;
}

.view-teman-om-lopningen .views-col,
.view-taxonomy-term .img-fluid,
.view-nyheterna .img-fluid,
.view-article-list-on-home-page .img-fluid {
    width: 100% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.view-article-list-on-home-page .article-lead {
    margin-top: 5px;
    margin-bottom: 15px;
}

.view-topshelf-promotions .Promo-lead{
    display: none;
}

.block-views-blockteman-om-lopningen-block-1 h2 {
    padding-left: 16px;
    margin: 0px;
    font-size: 25px;
    margin-left: 15px;
} 

}


