/vendor/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/services.yml
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
.env
.idea
.vscode
.DS_Store
.ddev/
.editorconfig
.gitattributes

