.insert-rotate {
  margin-right: 1em;
}

.insert-rotate .insert-rotate-controls a {
  text-decoration: none;
}

.insert-button-wrapper {
  display: inline-block;
  position: relative;
}

.insert-required {
  outline: 2px solid red;
}